
<div class="content mt-2 p-3">
        <div class="card">
            <div class="card-header">
                <h4 class="text-info">Pedidos</h4>
            </div>
               <!-- Inicio del class="card card-nav-tabs card-plain" -->
          <div class="card card-nav-tabs card-plain">
            <!-- Inicio del class="card-header card-header-danger" -->
            <div class="card-header card-header-danger">
              <!-- Inicio del class="nav-tabs-navigation text-left" -->
              <div class="nav-tabs-navigation text-left">
                <!-- Inicio del class="nav-tabs-wrapper" -->
                <div class="nav-tabs-wrapper">
                  <!-- Inicio del class="nav nav-tabs" -->
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a class="nav-link  active text-info" href="#inicio" data-toggle="tab">  
                        Pedidos Activos <i class="fa fa-shopping-cart"></i>
                      </a>
                    </li>                              
                    <li class="nav-item">
                      <a class="nav-link text-success" href="#pedido" data-toggle="tab">
                        Entregados <i class="fa fa-dolly-flatbed"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-danger" href="#pedidoAnulado" data-toggle="tab">
                       Anulados <i class="fa fa-minus-square"></i>
                      </a>
                    </li>
                  </ul>
                  <!-- Inicio del class="nav nav-tabs" -->
                </div>
                <!-- Inicio del class="nav-tabs-wrapper" -->
              </div>
              <!-- Fin del class="nav-tabs-navigation text-left" -->
            </div>  
            <!-- Fin del class="card-header card-header-danger" -->          
          </div>
          <!-- Fin del class="card card-nav-tabs card-plain" -->
          <div class="card-body">
              <div class="tab-content text-left">
                  <div class="tab-pane active" id="inicio">
                      <div class="toolbar">
                      </div>
                      <div class="row">  
                        <div class="col sm-6">
                            <div class="table-responsive">
                                <table class="table table-lg table-striped table-hover" id="producto">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Cliente</th>                                      
                                            <th>Descripcion</th>
                                            <th>TotalAPagar</th>                                           
                                            <th>Emitido </th>
                                            <th>Fecha Entrega</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                       
                                    </thead>
                                    <tbody>
                                        {{#each listPedido}}
                                        <tr>
                                            <td>{{idPedidoCliente}}</td>
                                            <td>{{nombrePersona}} {{apellidoPersona}} </td>
                                            <td>{{descripcion}}</td>
                                            <td>{{totalAPagar}}</td>
                                            <td>{{dateFormatSpanish fecha}}</td>
                                            <td>{{dateFormatSpanish fechaEntrega}}</td>
                                            <td><a  data-toggle="tooltip" data-placement="top" title="Confirmar Pedido" href="/pedidos/confirmar/{{idPedidoCliente}}"><i class="fa fa-dolly-flatbed text-success"></i></a></td>
                                            <td><a  data-toggle="tooltip" data-placement="top" title="Anular Pedido" href="/pedidos/anular/{{idPedidoCliente}}"><i class="fa fa-minus-square text-danger"></i></a></td>                                           
                                        </tr>
                                        {{/each}}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                  </div>
                  <!--Inicio del tab-pane Pedido-->
                  <div class="tab-pane" id="pedido">
                        <div class="row justify-content-center">
                       
                        <div class="col sm-3">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="pedido_confirmado">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Cliente</th>                                      
                                            <th>Descripcion</th>
                                            <th>TotalAPagar</th>                                           
                                            <th>Emitido</th>
                                            <th>Fecha Entrega</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-success">
                                        {{#each listPedidoComplete}}
                                       <tr>
                                            <td>{{idPedidoCliente}}</td>
                                            <td>{{nombrePersona}} {{apellidoPersona}} </td>
                                            <td>{{descripcion}}</td>
                                            <td>{{totalAPagar}}</td>
                                            <td>{{dateFormatSpanish fecha}}</td>
                                            <td>{{dateFormatSpanish fechaEntrega}}</td>
                                        </tr>                                       
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                     </div>
                     <div class="tab-pane" id="pedidoAnulado">
                        <div class="row justify-content-center">
                        <div class="col sm-3">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="pedidosCancelado">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Cliente</th>                                      
                                            <th>Descripcion</th>
                                            <th>TotalAPagar</th>                                           
                                            <th>Emitido</th>
                                            <th>Fecha Entrega</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody class="text-danger">
                                        {{#each listPedidoIncomplete}}
                                        <tr>
                                            <td>{{idPedidoCliente}}</td>
                                            <td>{{nombrePersona}} {{apellidoPersona}} </td>
                                            <td>{{descripcion}}</td>
                                            <td>{{totalAPagar}}</td>
                                            <td>{{dateFormatSpanish fecha}}</td>
                                            <td>{{dateFormatSpanish fechaEntrega}}</td>
                                        </tr>  
                                       
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                     </div>
              </div>
          </div>
        </div>
    </div>




