<div class="container p-3">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Pedidos Encargados</h5>
                <h4 class="card-title">Pedidos Encargados</h4>
                <hr>
                
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <img src="img/icons/Order_processing.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h3 class="text-info p-5">{{pedidosImcompletados.pedidosIncomplete}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Pedidos Completados</h5>
                <h4 class="card-title">Pedidos Completados</h4>
                <hr>
                
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <img src="img/icons/order_confirm.png" alt="">
                  </div>
                  <div class="col-md-6">
                      <h3 class="text-info p-5">{{pedidosCompletados.pedidosComplete}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Pedidos Cancelados</h5>
                <h4 class="card-title">Pedidos Cancelados</h4>
                <hr>
                
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <img src="img/icons/order_cancelled.png" alt="">
                  </div>
                  <div class="col-md-6">
                      <h3 class="text-info p-5">{{pedidosAnulados.pedidoAnulado}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category text-center">Carro de Compras</h5>
                <h4 class="card-title text-center"><img width="100" src="/img/icons/cart.png"></h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-sm" id="producto">
                    <thead class=" text-primary">
                      <th>
                        Nombre
                      </th>
                      <th>
                        Categoria
                      </th>
                      <th>
                        Precio
                      </th>
                      <th class="text-right">
                        Ultima Actualizacion
                      </th>
                    </thead>
                    <tbody>
                        {{#each listArtiFilter}}
                        <tr>
                          <td>{{nombre}}</td>
                          <td>{{categoria}}</td>
                          <td>{{precio}}</td>
                          <td class="text-right">{{timeago fechaIngreso}}</td>
                         </tr>
                        {{/each}}                 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>